$sans-serif-font-family: "Roboto";
$serif-font-family: "Georgia";
$headings-font-family: "Roboto";

$font-family-base: $sans-serif-font-family;

$font-size-h1: 3.6rem !default;
$line-height-h1: 4.3rem !default;
$font-weight-h1: 500 !default;
$letter-spacing-h1: normal !default;

$font-size-h2: 3rem !default;
$line-height-h2: 3.5rem !default;
$font-weight-h2: 500 !default;
$letter-spacing-h2: normal !default;

$font-size-h3: 2.4rem !default;
$line-height-h3: 3rem !default;
$font-weight-h3: 500 !default;
$letter-spacing-h3: normal !default;

$font-size-h4: 1.8rem !default;
$line-height-h4: 2.2rem !default;
$font-weight-h4: 500 !default;
$letter-spacing-h4: normal !default;

$font-size-h5: 1.5rem !default;
$line-height-h5: 1.8rem !default;
$font-weight-h5: 500 !default;
$letter-spacing-h5: normal !default;

$font-size-h6: 1.4rem !default;
$line-height-h6: 1.6rem !default;
$font-weight-h6: 500 !default;
$letter-spacing-h6: normal !default;
